<div class="container admin-action-button">
  <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
    <a href="#" class="btn btn-default" role="button">Event List</a>
    <a href="#" class="btn btn-default" role="button">Calendar View</a>
    <a href="#" class="btn btn-default" role="button">My Profile</a>
  </div>
</div>