.container.admin-action-button
  .btn-group.btn-group-justified{"aria-label" => "Justified button group", :role => "group"}
    %a.btn.btn-default{:href => "#", :role => "button"} Event List
    %a.btn.btn-default{:href => "#", :role => "button"} Calendar View
    %a.btn.btn-default{:href => "#", :role => "button"} My Profile
