/ .container.admin-action-button
/   .btn-group.btn-group-justified{:role => "group", "aria-label" => "Justified button group"}
/     = link_to{:class => "btn btn-default", :role => "button"}, event_view
/     = link_to {:class => "btn btn-default", :role => "button"}, calendar_view
/         <a href="#" class="btn btn-default" role="button">My Profile</a>