.container.admin-action-button
  .btn-group.btn-group-justified{"aria-label" => "Justified button group", :role => "group"}
    %a.btn.btn-default{:href => "#", :role => "button"} Event List
    %a.btn.btn-default{:href => "#", :role => "button"} Calendar View
    %a.btn.btn-default{:href => "#", :role => "button"} My Profile
/ .container.admin-action-button
/   .btn-group.btn-group-justified{:role => "group", "aria-label" => "Justified button group"}
/     = link_to{:class => "btn btn-default", :role => "button"}, event_view
/     = link_to {:class => "btn btn-default", :role => "button"}, calendar_view
/         <a href="#" class="btn btn-default" role="button">My Profile</a>
