<div class="container admin-dashboard-header">
  <h3>Dashboard | Activity</h3>
</div>

<%= render 'action_header' %>

<div class="container admin-activity-wrapper">
  <div class="admin-activity-element">
    <div class="admin-activity-title">
      <a href="#">Alan Wernick</a> has created a new event <a href="#">Joomla! Training</a>
    </div>
    <div class="admin-activity-details">The Event will happen on Saturday, December 45 of December 2014.</div>
  </div>
</div>