<div class="container admin-dashboard-header">
	<h3>Dashboard</h3>
</div>

<%= render 'action_header' %>

<div class="container admin-activity-wrapper">
	<div class="col-lg-9">

		<div class="panel panel-info">
			<div class="panel-heading">Your created events</div>
			<div class="panel-body">
				<div class="event-list-element-wrapper table-responsive">
					<table class="table table-condensed">
				      <thead>
				        <tr>
				          <th>Event</th>
				          <th>Actions</th>
				        </tr>
				      </thead>
				      <tbody>
				        <tr>
				        <!-- Make sure to put line height of 30px -->
				          <td><strong>Joomla Training</strong></td>
				          <td>
				          	<div class="btn-group" role="group" aria-label="...">
							  <a href="#" class="btn btn-default btn-sm">Admin View</a>
							  <a href="#" class="btn btn-default btn-sm">Edit</a>
							  <a href="#" class="btn btn-default btn-sm">Delete</a>
							</div>
				          </td>

				        </tr>
				        <tr>
				          <td>Other Event Title</td>
				          <td>
				          	<div class="btn-group" role="group" aria-label="...">
							  <a href="#" class="btn btn-default btn-sm">Admin View</a>
							  <a href="#" class="btn btn-default btn-sm">Edit</a>
							  <a href="#" class="btn btn-default btn-sm">Delete</a>
							</div>
				          </td>
				        </tr>
				        <tr>
				          <td>Yet another event title</td>
				          <td>
				          	<div class="btn-group" role="group" aria-label="...">
							  <a href="#" class="btn btn-default btn-sm">Admin View</a>
							  <a href="#" class="btn btn-default btn-sm">Edit</a>
							  <a href="#" class="btn btn-default btn-sm">Delete</a>
							</div>
				          </td>
				        </tr>
				      </tbody>
				    </table>
				</div>
				<a href="#" class="btn btn-primary btn-lg">Create New Event</a>
			</div>
			<!-- <div class="panel-footer">Panel Footer</div> -->
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">What's new</div>
			<div class="panel-body">
				<ul class="list-group">
					<li class="list-group-item">
						<div class="list-group-item-title">Event Created</div>
						<div class="list-group-item-info-wrapper">By Alan Wernick</div>
					</li>
				</ul>
			</div>
			<!-- <div class="panel-footer">Panel Footer</div> -->
		</div>
	</div>
	<div class="col-lg-3">
		
		<div class="panel panel-info">
			<div class="panel-heading">Notifications</div>
			<div class="panel-body">
				<h2>3 Alerts</h2>
			</div>
			<!-- <div class="panel-footer">Panel Footer</div> -->
		</div>

		<div class="panel panel-primary">
		<div class="panel-heading">Actions Panel</div>
			<div class="panel-body">
				<ul class="actions-wrapper">
					<li>+ Create New Event</li>
				</ul>
			</div>
		</div>
		
	</div>
</div>