- provide(:title, "About")

.container
  %h1 About Us
  %p Thank you for your interest in professional development at The University of Texas at El Paso. Academic Technologies (AT) has provided our professional development partners their own administrative access to post upcoming workshops and trainings, but we would also like you to have the opportunity to learn more about them. Please click on their logos to visit their websites.
  .row.custom-row-about-page
    .col-sm-6.custom-column-about-page
      %a{:href => "http://at.utep.edu/"}
        %img{:src => "http://at.utep.edu/uteppros/images/footersicon.png"}
    .col-sm-6.custom-column-about-page
      %a{:href => "http://cetalweb.utep.edu/"}
        %img{:src => "http://at.utep.edu/uteppros/images/cetal.blog.fw.png"}
    .col-sm-6.custom-column-about-page
      %a{:href => "http://academics.utep.edu/Default.aspx?alias=academics.utep.edu/esp"}
        %img{:src => "http://at.utep.edu/uteppros/images/entering.png"}
    .col-sm-6.custom-column-about-page
      %a{:href => "http://research.utep.edu/Default.aspx?alias=research.utep.edu/creie"}
        %img{:src => "http://at.utep.edu/uteppros/images/logo-w-tagline.png"}
    .col-sm-6.custom-column-about-page
      %a{:href => "http://admin.utep.edu/Default.aspx?alias=admin.utep.edu/ts"}
        %img{:src => "http://at.utep.edu/uteppros/images/largeBlack_Rm_300_print-01.png"}
    .col-sm-6.custom-column-about-page
      %a{:href => "http://www.provost.utep.edu/"}
        %img{:s=> "http://at.utep.edu/uteppros/images/utepprovost.png"}
