<% provide(:title, "Contact Us") %>

<div class="container">
	<h1>Contact</h1>
	<p>Thank you for your interest in professional development at The University of Texas at El Paso.  Academic Technologies hopes that your experiences are meaningful and yield the desired outcomes you seek.  If we can be of further assistance to you, connect you with presenters or presentation materials, or if you simply have suggestions for future workshop and training offerings, please contact us by using the form below.</p>
</div>