- provide(:title, "Editing #{current_user.name}")
.container
  .row
    .col-sm-6
      .panel.panel-info
        .panel-heading Editing #{current_user.name}
        .panel-body
          = render 'form'
