.row
  .sorting-button-wrapper.col-sm-4
    .btn-group
      %button.btn.btn-default.dropdown-toggle.custom-sort-button{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
        Event Sorting
        %span.caret
      %ul.dropdown-menu.custom-dropdown-menu{:role => "menu"}
        %li
          %a{:href => "#"} Sort by Date
        %li
          %a{:href => "#"} Sort by Name
        %li
          %a{:href => "#"} Newly Created
        %li
          %a{:href => "#"} Sort by people attending
  .col-sm-4.col-sm-offset-4
    %form.navbar-form.navbar-left{:role => "search"}
      .form-group
        %input.form-control{:placeholder => "Search", :type => "text"}/
      %button.btn.btn-default{:type => "submit"} Submit
