<% provide(:title, "Events") %>

<div class="container body-content-wrapper">
  <h1>All events</h1>
  <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
      <a href="/events" class="btn btn-default" role="button">List View</a>
      <a href="#" class="btn btn-default" role="button">Calendar View</a>
    </div>
    <!-- Render the components that have the search functions. -->
    <%= render 'search_and_sort_components' %>  

  <div class="event-elements-wrapper">
  <%= render "event", :locals => { :events => @events}  %>
  </div>

  <div class="col-md-12">
  <%= link_to 'Load More Events', events_path(:page => @events.next_page), :class => 'load-more-events btn btn-default', :remote => true if @events.next_page %>
  </div>

  <%= link_to 'New Event', new_event_path %>
