<% user = User.find_by_id(activity.owner_id) %>
<% event = Event.find_by_id(activity.recipient_id) %>
<% if user && event %>
	<li class="list-group-item">
		<div class="list-group-item-title">
		<%= link_to "#{user.name}", user %> unsubscribed from <%= link_to "#{event.name}", event %></div>
		<div class="list-group-item-info-wrapper"><%= time_ago_in_words(activity.created_at) %> ago</div>
	</li>
<% end %>