// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-dashboard-header {
  background: #00ABC4;
  padding: 10px 15px;
  color: #fff;
  margin-top: -20px;
}
.admin-dashboard-header h3 {
  font-weight: lighter;
}

/*Admin action buttons*/
.admin-action-button {
  padding: 0;
}
.admin-action-button .btn {
  border: none;
  padding: 10px 12px;
}
/*-------------------*/

/*Code that follows is for the Dashboard section of the backend where you can find the global activities*/
.admin-activity-wrapper {
  padding-top: 20px;
}

/*Panels*/

.panel {
box-shadow: 0 1px 0 rgba(0,0,0,.1);
}
.panel-info {
border-color: #e6e9ee;
}
.panel {
margin-bottom: 19px;
background-color: #fff;
border: 1px solid transparent;
border-radius: 4px;
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel .panel-heading {
border-bottom-width: 0;
}
.panel-info>.panel-heading {
color: #fff;
background-color: #00ABC4;
border-color: #e6e9ee;
}
.panel-heading {
padding: 10px 15px;
border-bottom: 1px solid transparent;
border-top-right-radius: 3px;
border-top-left-radius: 3px;
}

.panel-footer {
padding: 10px 15px;
background-color: #f1f1f5;
border-top: 1px solid #eee;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
}
.panel>.list-group, .panel>.panel-collapse>.list-group {
margin-bottom: 0;
}
.list-group {
line-height: 1.3;
}
.list-group {
margin-bottom: 0;
padding-left: 0;
}
ol, ul {
margin-top: 0;
margin-bottom: 9.5px;
}

.list-group-item-title {
	font-size: 14px;
	letter-spacing: -1px;
}
.list-group-item-info-wrapper {
	font-size: 12px;
	background-color: transparent;
	color: #aaa;
}
/*------------------------------------------------------------------------------------------------------*/

/* Notifications */
.list-group-item-title
{

  a {
    color: #00a9c5;

    &:hover
    {
      color: #00a9c5;
      background: none;
      text-decoration: underline;
    }
  }
}

.list-group-item-info-wrapper
{
  a {
    color: #aaa;

    &:hover {
      color: #00a9c5;
      background: none;
    }
  }
}


