// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Contact Form CSS*/
.contact-form-wrapper {
	padding-top: 20px;
}
.contact-form-wrapper label {
	font-weight: lighter;
}
input.custom-at-colors {
	border: 2px solid #fff;
	font-weight: lighter;
	background: #ddd;
	color: #333;
	height: 4em;
}
label.custom-contact-label {
	font-weight: lighter;
	font-size: 14px;
}
textarea.custom-at-colors-textarea {
	border: 2px solid #fff;
	font-weight: lighter;
	background: #ddd;
	color: #333;
	height: 10em;
}
button.btn-custom-black {
	color: #fff;
	background: #333;
	border-color: #333;
	font-weight: lighter;
}
button.btn-custom-black:hover {
	background: #00a9c5;
	border-color: #00a9c5;
	color: #fff;
	font-weight: lighter;
}
/*----------------*/